/* plantilla css para costura creativa */

body{
	/*
	margin: 0px;
	padding: 0px;
	*/
	font-family: Helvetica, Arial, sans-serif;
	/*
	font-size: 13px;
	line-height: 3.5em;
	*/
	background-color: #def7fc;
	/*
	background-image: url(imagenes/costura_creativa_fondo.jpg);
	background-repeat: repeat-x;
	*/
}

.index_wrapper {
	width: 960px;
	/* padding: 10px 10px; */
	margin: 0 auto;
	/* background: url(imagenes/costura_creativa_fondo.jpg) repeat-y; */
}

/* logo de costura creativa */
.logo{
	width: 500px;
	height: 500px;
	/* ../ va un subdirectorio hacia atras */
	background-image: url("../imagenes/bordados_creativos_logo.jpg");
	background-size: contain;
	display: inline-block;
	position: absolute;
	top: 100px;
	left: 705px;
	float: left;
}

.index_cabeza{
	width: 700px;
	height: 300px;
	padding: 20px;
	color: black;
}

/* la parte de "bordados creativos" */
.index_cabeza #titulo_pagweb #titulo_txt h1 a{
	text-align: center;
	width: 100px;
	padding: 130px 0 0 30px;
	font-size: 2em;
	font-weight: bold;
}

/* la parte de *Servicio de bordado industrial desde una pieza. ¡Cotiza tu idea! */
.index_cabeza #index_descripcion {
	width: 400px;
	height: 400px;
	font-size: 1em;
}

/* barra menu de "Inicio, servicios, etc" 
   POSICION
   */
.index_wrapper #index_menu {
	
	list-style: none;
	width: 960px;
	height: 20px;
}

#index_menu ul {
	margin-left: 0;
	padding: 3px 0;
}

#index_menu ul li{
	margin: 0;
	display: inline;
}

#index_menu ul li a {
	padding: 3px 4.5em;
	margin-left: 3px;
	border: none;
	background: #ffc9ea;
	text-decoration: none;

}

